.contact h1 {
    text-align: center;
    margin-bottom: 50px;
}

.contact .cover {
    display: flex;
    flex-direction: row;
}

form {
    margin-inline: 50px;
   margin-right: 100px;
}

.firstRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.firstRow input {
    width: 50vh;
    margin-inline: 10px;
    height: 30px;
}

#sujet {
    width: 102vh;
    height: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
}

textarea {
    margin-left: 10px;
    margin-bottom: 30px;
    width: 102vh;
}

.submit {
    margin-left: 10px;
    background-color: black;
    border: none;
    color: white;
    width: 100px;
    padding: 10px;
}


.contact p {
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}